<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="top.jplayer.baseprolibrary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <activity
            android:name=".ui.SampleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.ContactActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.TestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.WebFullScreenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".live.LiveStartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".net.download.DownloadByReceiver">
            <intent-filter>
                <!-- 配置 点击通知 和 下载完成 两个 action -->
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="top.jplayer.baseprolibrary.fileprovider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/file_provider"/>-->
        <!--</provider>-->

        <!--<meta-data-->
        <!--android:name="RONG_CLOUD_APP_KEY"-->
        <!--android:value="${RONG_KEY}"-->
        <!--tools:replace="android:value"/>-->


        <!-- start -->
        <receiver
            android:name=".live.receiver.WakeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="top.jplayer.baseprolibrary"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".live.service.WhiteService"
            android:enabled="true"
            android:exported="false"
            android:process=":white"/>
        <service
            android:name=".live.service.GrayService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray"/>
        <service
            android:name=".live.service.GrayService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray"/>
        <service
            android:name=".live.service.BackgroundService"
            android:enabled="true"
            android:exported="false"
            android:process=":bg"/>
        <service
            android:name=".live.receiver.WakeReceiver$WakeNotifyService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".live.receiver.WakeReceiver$WakeGrayInnerService"
            android:enabled="true"
            android:exported="false"/>
        <!-- end -->
    </application>
</manifest>